header{
    background: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 15px;
  }
.left_header_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
}
.logo{
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}
.left_header{
    display: flex;
    justify-content: center;
    padding-left: 2em;
    cursor: pointer;
}
.name_shop{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: black;
    line-height: 120%;                                
}
.boots_shop{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 0.2rem;
    line-height: 120%;   
}
.right_header{
    flex-wrap: wrap-reverse;
    display: flex;
    align-items: center;
    float: right;
    margin-right: 30px;
}
.price{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    cursor: pointer;
}
.full_price{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding-left: 5px;
}
.regestration_btn{
    text-decoration: none;
    display: inline-block;
    padding: 12px 23px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px black inset, 0 0 0 0 black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
}
.regestration_btn:hover{
    box-shadow: 0 0 10px 0 rgb(122, 126, 126) inset, 0 0 10px 4px rgb(122, 126, 126);
    color: black;
}
.reg_btn{
    margin-right: 5px;
    margin-left: 10px;
}